[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm
[submodule "3rd_party/fmt"]
	path = 3rd_party/fmt
	url = https://github.com/fmtlib/fmt
